
<header style=" top:25px; margin-left: 50px; margin-right: 50px;">
    <br>
    <h2>Registro de Producto</h2>
    <br>
</header>
<!-- modal-->

<div class="box">
    <div class="row">
        {{ locals.flash }}
        <div class="card" style="margin-left: 75px; margin-right: 75px;">
            <div class="card-header">

            </div>
            <div class="card-body">
                <form id="formulario" method="POST" action="/josselynStore/administrar/producto/guardar">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control"  required id="nombre" name="nombre"  placeholder="Ingrese el nombre">
                        <small id="nombreHelp" class="form-text text-muted">Nombre del Producto.</small>
                    </div>


                    <div class="form-group">
                        <label for="tipo">Tipo</label>
                        <select name="tipo" id="tipo" required>
                            <option value="deportivo">Deportivo</option>
                            <option value="casual">Casual</option>
                            <option value="formal">Formal</option>
                        </select>
                        <small id="tipoHelp" class="form-text text-muted">Tipo del Producto.</small>
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoria</label>
                        <select name="categoria" id="categoria" required>
                            <option value="Blusa">Blusa</option>
                            <option value="Pantalon">Pantalon</option>
                            <option value="Chaqueta">Chaqueta</option>
                            <option value="Vestido">Vestido</option>

                        </select>
                        <small id="tallaHelp" class="form-text text-muted">Categoria del Producto.</small>
                    </div>
                    <div class="form-group">
                        <label for="talla">Talla</label>
                        <select name="talla" id="talla" required>
                            <option value="S">Small</option>
                            <option value="M">Medium</option>
                            <option value="L">Large</option>
                            <option value="XL">Xtra Large</option>
                            <option value="2XL">2 Xtra Large</option>
                        </select>
                        <small id="tallaHelp" class="form-text text-muted">Tipo del Producto.</small>
                    </div>
                    <div class="form-group">
                        <label for="color">Color</label>
                        <input type="text" class="form-control" required name="color" id="color"  placeholder="Ingrese el color">
                        <small id="colorHelp" class="form-text text-muted">Color del Producto.</small>
                    </div>

                    <div class="form-group">
                        <label for="marca">Marca</label>
                        <select name="marca" id="marca" required>
                            {{#each listaM }}
                            <option value="{{id}}">{{nombre}}</option>
                            {{/each}}
                        </select>
                        <small id="marcaHelp" class="form-text text-muted">Marca del Producto.</small>
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input  required type="text" class="form-control" name="descripcion"  placeholder="Ingrese descripcion">
                        <small id="fechHelp" class="form-text text-muted">Descripcion del Producto.</small>
                    </div>
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <input required type="text" class="form-control" name="cantidad" id="cantidad" aria-describedby="cantidadHelp" placeholder="Ingrese la Cantidad del producto">
                        <small id="cantidadHelp" class="form-text text-muted">Cantidad.</small>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input required type="text" class="form-control" name="precio" aria-describedby="precioHelp" placeholder="Ingrese el precio">
                        <small id="precioHelp" class="form-text text-muted">Precio del Producto.</small>
                    </div>

                    <div class="form-group">
                        <a href="/josselynStore/administrar/vino" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- modals de edicion-->
<div class="modal fade" id="modal_e" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="box" >
        <div class="row">
            {{ locals.flash }}
            <div class="card" style="margin-left: 550px; margin-right: 350px;">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <form id="formulario_e" method="POST" action="/josselynStore/administrar/producto/modificar">
                        <input type="hidden" name="external" value="0" id="external"/>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input required type="text" class="form-control" id="nombre_e" name="nombre"  placeholder="Ingrese el nombre">
                            <small id="nombreHelp" class="form-text text-muted">Nombre del Producto.</small>
                        </div>


                        <div class="form-group">
                            <label for="tipo">Tipo</label>
                            <select required name="tipo" id="tipo_e">
                                <option value="deportivo">Deportivo</option>
                                <option value="casual">Casual</option>
                                <option value="formal">Formal</option>
                            </select>
                            <small id="tipoHelp" class="form-text text-muted">Tipo del Producto.</small>
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoria</label>
                            <select required name="categoria" id="categoria_e">
                                <option value="Blusa">Blusa</option>
                                <option value="Pantalon">Pantalon</option>
                                <option value="Chaqueta">Chaqueta</option>
                                <option value="Vestido">Vestido</option>

                            </select>
                            <small id="tallaHelp" class="form-text text-muted">Categoria del Producto.</small>
                        </div>
                        <div class="form-group">
                            <label for="talla">Talla</label>
                            <select required name="talla" id="talla_e">
                                <option value="S">Small</option>
                                <option value="M">Medium</option>
                                <option value="L">Large</option>
                                <option value="XL">Xtra Large</option>
                                <option value="2XL">2 Xtra Large</option>
                            </select>
                            <small id="tallaHelp" class="form-text text-muted">Tipo del Producto.</small>
                        </div>

                        <div class="form-group">
                            <label for="color">Color</label>
                            <input required type="text" class="form-control" name="color" id="color_e" placeholder="Ingrese el color">
                            <small id="colorHelp" class="form-text text-muted">Color del Producto.</small>
                        </div>

                        <div class="form-group">
                            <label for="marca">Marca</label>
                            <select name="marca" id="marca_e" required>
                                {{#each listaM }}
                                <option value="{{id}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                            <small id="marcaHelp" class="form-text text-muted">Marca del Producto.</small>
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Descripcion</label>
                            <input required type="text" class="form-control" name="descripcion" id="descripcion_e"  placeholder="Ingrese descripcion">
                            <small id="fechHelp" class="form-text text-muted">Descripcion del Producto.</small>
                        </div>
                        <div class="form-group">
                            <label for="cantidad">Cantidad</label>
                            <input  required type="text" class="form-control" name="cantidad" id="cantidad_e" aria-describedby="cantidadHelp" placeholder="Ingrese la Cantidad del producto">
                            <small id="cantidadHelp" class="form-text text-muted">Cantidad.</small>
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio</label>
                            <input  required type="text" class="form-control" name="precio" id="precio_e" aria-describedby="precioHelp" placeholder="Ingrese el precio">
                            <small id="precioHelp" class="form-text text-muted">Precio del Producto.</small>
                        </div>
                        <div class="form-group" id="divBaja">
                            <label for="estado">Activar / Dar Baja</label>
                            <input  type="checkbox" name="estado" id="estado" value="1" /><br>
                            <small> Seleccione unicamente si desea Dar de Baja, caso contrario deje desmarcado </small>
                        </div>
                        <div class="form-group">
                            <a href="/josselynStore/administrar/producto" class="btn btn-danger">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <form action="/josselynStore/administrar/producto/todos" method="get">
                    <button type="submit" class="btn btn-warning">LISTAR TODOS</button>
                </form>
            </div>
            <div class="col col-lg-2">
                <form action="/josselynStore/administrar/producto" method="get">
                    <button type="submit" class="btn btn-warning">LISTAR ACTIVOS</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 25px; margin-left: 50px; margin-right: 50px;">

    <table class="table">
        <thead>
            <tr>
                <th>Nro</th><th>Foto</th><th>Categoria</th><th>Tipo</th><th>Nombre</th><th>Color</th><th>Talla</th><th>Precio</th><th>Estado</th><th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each lista as |producto i|}}
            <tr>
                <th scope="row">{{ i }}</th>
                <td>
                    <img class="rounded" src="/img/{{ producto.foto }}" width="100"/> 
                    <br>
                    <form action="/josselynStore/administrar/producto/guardar_foto/{{ producto.external_id }}" method="POST">
                        <br>
                        <input type="file" accept="image/image/jpeg/jpg/png" id="foto" name="foto"/>
                        <div class="modal-footer">
                            <a href="/josselynStore/administrar/producto" class="btn btn-danger">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form> 
                </td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.tipo }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.color }}</td>
                <td>{{ producto.talla }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.estado }}</td>
                <td>
                    <a href="#" id="{{ i }}" class="btn btn-primary" data-toggle="modal" data-target="#modal_e">Modificar</a>

                </td>
        <script>

            $("#{{ i }}").click(function () {
                console.log("holi....");
                $("#external").val("{{ producto.external_id }}");
                $("#nombre_e").val("{{ producto.nombre }}");
                $("#tipo_e").val("{{ producto.tipo }}");
                $("#talla_e").val("{{ producto.talla }}");
                $("#color_e").val("{{ producto.color }}");
                $("#categoria_e").val("{{ producto.categoria }}");
                $("#descripcion_e").val("{{ producto.descripcion }}");
                $("#cantidad_e").val("{{ producto.cantidad }}");
                $("#precio_e").val("{{ producto.precio }}");


            });

            $("#estado").on('change', function () {
                if ($(this).is(':checked')) {
                    $('#btn').html('Dar de Baja');
                    $(this).attr('value', '0');
                } else {
                    $('#btn').html('Editar');
                    $(this).attr('value', '1');
                }
                $('#estado').text($('#estado').val());
            });


        </script> 
        </tr>
        {{/each}}
        </tbody>

    </table>

</div>
