



<body class="align-content-center">
    </br>
    </br>
    </br>

    <header    data-textAlign="['left','left','left','left','left','center']" >
        <h2>Registro de Marca</h2>
    </header>
    </br>

    <div class="row" style="margin-top: 25px; margin-left: 50px; margin-right: 50px;" >
        <a href="#"  class="btn btn-success" data-toggle="modal" data-target="#modal">Nuevo</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Registrar</h5>

                </div>
                <div class="modal-body">

                    <form id="formulario" method="POST" action="/josselynStore/administrar/marca/guardar">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" required id="nombre" name="nombre" aria-describedby="marcaHelp" placeholder="Ingrese el nombre">
                            <small id="marcaHelp" class="form-text text-muted">Marca del producto.</small>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- modals de edicion-->
    <form id="formulario_e" method="POST" action="/josselynStore/administrar/marca/modificar">
        <div class="modal fade" id="modal_e" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modificar</h5>

                    </div>

                    <div class="modal-body">

                        <input type="hidden" name="external" value="0" id="external"/>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre_e" name="nombre" aria-describedby="marcaHelp" placeholder="Ingrese el nombre" value="">
                            <small id="marcaHelp" class="form-text text-muted">Marca del producto.</small>
                        </div>
                        <div class="form-group" id="divBaja">
                            <label for="estado">Activar / Dar Baja</label>
                            <input  type="checkbox" name="estado" id="estado" value="1" /><br>
                            <small> Seleccione unicamente si desea Dar de Baja, caso contrario deje desmarcado </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal_e">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <div class="row" style="margin-top: 25px; margin-left: 50px; margin-right: 50px;">

        <table class="table">
            <thead>
                <tr>
                    <th>Nro</th><th>Nombre</th><th>Estado</th><th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each lista as |marca i|}}
                <tr>
                    <th scope="row">{{ i }}</th>
                    <td> {{ marca.nombre }} </td> 
                    <td> {{ marca.estado }}</td>
                    <td>
                        <a href="" id="{{ i }}" class="btn btn-primary"  data-toggle="modal"  data-target="#modal_e">Modificar</a>
                    </td>
            <script>
                $("#{{ i }}").click(function () {
                    $("#external").val("{{ marca.external_id }}");
                    $("#nombre_e").val("{{ marca.nombre }}");
                });
                
                $("#estado").on('change', function () {
                if ($(this).is(':checked')) {
                    $('#btn').html('Dar de Baja');
                    $(this).attr('value', '0');
                } else {
                    $('#btn').html('Editar');
                    $(this).attr('value', '1');
                }
                $('#estado').text($('#estado').val());
            });
            </script> 
            </tr>
            {{/each}}
            </tbody>

        </table>

    </div>
</body>







